
*.jpeg
*.xlsx
*.RData
*.Rproj
*.pper
Shiny/.Rproj.user/A1E6982C/persistent-state
Shiny/.Rproj.user/A1E6982C/rmd-outputs
Shiny/.Rproj.user/A1E6982C/saved_source_markers
Shiny/.Rproj.user/A1E6982C/sources/prop/62DFA79E
Shiny/.Rproj.user/A1E6982C/sources/prop/90FC30FC
Shiny/.Rproj.user/A1E6982C/sources/prop/AA33187C
Shiny/.Rproj.user/A1E6982C/sources/prop/INDEX
Shiny/.Rproj.user/shared/notebooks/patch-chunk-names
Shiny/.Rproj.user/shared/notebooks/paths
*.dcf
Shiny/.Rhistory
rmarkdown.tex
rmarkdown.Rmd
rmarkdown.log
rmarkdown.html
rmarkdown.docx
OPD_Report_on_1.log
OPD Report on 1.log
.Rhistory
